[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
flask = "*"
checksumdir = "*"

[requires]
python_version = "3.5"

[scripts]
dev-server = "python -m flask run --host 0.0.0.0"
