{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block main %}
    <div class="mdl-grid demo-content">
        <div class="charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div>
                <canvas id="sourceChart" width="200" height="200"></canvas>
            </div>
            <div>
                <canvas id="destChart" width="200" height="200"></canvas>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="backup-list mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="table-responsive">
                <table id="backup-list" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"></table>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>
{% endblock %}

{% block foot_js %}
    <script src="{{ url_for('static', filename='js/chartjs/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}